<div class="container">
    <div class="todo-header">
        <h2>My todo's</h2>
        <button mat-raised-button color="primary" (click)="openAddDialog()">Add
            todo</button>
    </div>
    <app-modal-change-card [todocard]="selectedCard"></app-modal-change-card>
    <mat-card>
        <div class="todo-list">
            <div *ngFor="let item of ToDoList; let i = index">
                <div class="todo-card" #card>
                    <mat-card (click)="changeCard(item)">
                        <p>What todo: {{item.name}}</p>
                        <p>Todo date: {{item.date}}</p>
                        <p>Todo description: {{item.details}}</p>
                        <p>Tag: {{item.tegs}}</p>
                        <p>Priority: {{item.priority}}</p>
                        <div class="change-btn">
                            <button mat-raised-button color="warn" (click)="delete(i)">Delete</button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card>
</div>