.todo-list {
    display: flex;
    flex-wrap: wrap;
    mat-card {
        width: 10rem;
    }
    div:not(:first-child) {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    div:nth-child(6n) {
        margin-left: 0;
    }
}

.container {
    width: 80%;
    margin: auto;
}

.todo-card {
    mat-card {
        transition: 0.4s ease-out;
    }
    mat-card:hover {
        background-color: rgb(232, 220, 255);
        padding: 1rem;
        // box-shadow: 0px 2px 6px 16px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
}

.todo-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    button {
        height: 2.5rem;
    }
}